.home button {
    transition: all .3s ease-in-out;
    font-family: inherit;
    width: fit-content;
    cursor: pointer;
    box-sizing: border-box;
}

.home {
    font-family: "Montserrat", sans-serif;
    background-color: var(--dark-color);
    color: #fff;
}

/* hero styling starts here */

.hero {
    background-image: url(../assets/hero.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 20px 20px;
    overflow-y: hidden;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.hero .jewel {
    font-size: 15rem;
    font-family: var(--fancy-font);
    line-height: 100%;
    margin: 40px auto 10px auto;
    text-align: center;
}
.hero p {
    font-size: 12px;
}
.hero-top, .hero-foot {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.hero-txt button {
    background-color: #a52423;
    margin-top: 30px;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid transparent;
    font-family: inherit;
    font-size: 13px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: #00000086;
        border-color: #a52423;
    }
}

.hero-offer {
    background-color: #a52423;
    padding: 15px 20px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.hero-offer h2 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hero-offer button {
    border-radius: 100%;
    width: fit-content;
    align-self: flex-end;
    display: flex;
    position: relative;
    z-index: 2;
    padding: 10px;
    border: 2px solid transparent;
    font-size: 16px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: #00000086;
        color: #fff;
        border-color: #fff;
    }
}
.hero-offer img {
    width: 170px;
    z-index: 1;
    position: relative;
    margin-top: -100px;
    transform: translateY(70px);
}

.hero-foot {
    align-items: flex-end;
}
.hero-vid {
    background-image: url(../assets/vid.png);
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-vid button {
    border-radius: 100%;
    width: fit-content;
    display: flex;
    background-color: #ffffff94;
    backdrop-filter: blur(5px);
    padding: 10px;
    border: 2px solid transparent;
    margin-top: 10px;
    font-size: 20px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: #a5232387;
        color: #fff;
        border-color: #fff;
    }
}

.hero-foot p {
    text-align: right;
    color: #000;
}

.home-main {
    background-color: #f4f1eb;
    color: #000;
    box-sizing: border-box;
}
/*collections section styling starts here*/

.collections {
    padding: 80px 20px 30px 30px;
    box-sizing: border-box;
}
.collection-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.btn-control {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}
.btn-control li {
    border: 1px solid #000;
    border-radius: 100%;
    display: flex;
    padding: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}
.big-text {
    font-family: var(--fancy-font);
    font-size: 4.5em;
    line-height: 90%;
    text-transform: capitalize;
}
.collection-box {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin: 20px auto;
    gap: 20px;
}
.collection-card {
    height: 400px;
    background-position: center;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.collection-card button {
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-size: 13px;
    width: fit-content;
    align-self: flex-end;
    font-family: inherit;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: transparent;
        color: #fff;
        border-color: #fff;
    }
}
.collection-card p {
    font-size: 30px;
    font-family: var(--fancy-font);
    padding: 9px 22px;
    background-color: #000000b6;
    width: fit-content;
    font-weight: 300;
    line-height: 100%;
    color: #fff;
}
.collection-box .bracelets {
    background-image: url(../assets/bra.png);
}
.collection-box .rings {
    background-image: url(../assets/rings.jpeg);
}
.collection-box .earings {
    background-image: url(../assets/earrings.png);
}

/* about section styling starts  here */
.about-box {
    margin-top: 50px;
    padding: 20px 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about p {
    font-size: 13px;
    width: 80%;
}
.about button {
    background-color: #a52423;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    border: 1px solid transparent;
    &:hover {
        background-color: transparent;
        border-color: #a52423;
        color: #a52423;
    }
}

.info {
    display: flex;
    gap: 5vw;
    box-sizing: border-box;
}
.about-img {
    height: 500px;
    width: 30vw;
    background-image: url(../assets/owner.png);
    background-position: center;
    background-size: cover;
}
.stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 50px;

}
.stats ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}
.stats ul li {
    font-size: 12px;
}
.stats ul h3 {
    font-family: var(--fancy-font);
    font-size: clamp(36px, 6vw, 65px);
    line-height: 100%;
    font-weight: 300;
}
.stats ul:nth-child(1) h3 {
    margin-top: -20px;
}

/*arrivals section styling starts here*/
.arrivals-box {
    padding: 30px 20px;
    box-sizing: border-box;
}
.arrival-head {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-end;
}
.arrival-head p {
    font-size: 12px;
    font-weight: 300;
}

.arrivals {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    margin: 50px auto;
    scrollbar-width: 0;
    &::-webkit-scrollbar {
        display: none;
    }
}
.arrival-card {
    min-width: 200px;
    background-color: #fff;
    height: fit-content;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    justify-content: flex-end;
    transition: all .3s ease-in-out;
    &:hover {
        border-color: #daa52069;
    }
}
.arrivals .locket {
    background-image: url(../assets/locket.png);
    height: 300px;
    min-width: 330px;
}
.arrivals .necklace {
    height: 400px;
    min-width: 300px;
}
.arrivals .pendant {
    height: 550px;
    min-width: 300px;
}
.arrivals .golden {
    /* height: 300px; */
    min-width: 330px;
}
.arrival-btns {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    right: 0;
    top: 0;
    gap: 5px;
    padding: 10px;
}
.arrival-btns li {
    font-size: 25px;
    display: flex;
    width: fit-content;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.arrival-btns li:nth-last-child(1) {
    border: 1px solid #000;
    border-radius: 100%;
    font-size: 14px;
    padding: 4px;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}
.arrivals img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
.arrival-info {
    padding: 10px 20px;
    text-transform: capitalize;
    box-sizing: border-box;
}
.arrival-info h2 {
    font-weight: 500;
    font-size: 14px;
}
.arrival-info p {
    font-size: 12px;
    color: goldenrod;
}

.arrival-foot {
    display: flex;
    justify-content: space-between;
}
.arrival-foot .btn-control li:nth-child(1) {
    background-color: #000;
    color: #fff;
    &:hover {
        background-color: #a52423;
        color: #fff;
        border-color: #fff;
    }
}
.arrival-foot .arrival-prd {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 30px;
}
.arrival-prd li {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    gap: 10px;
}
.arrival-prd li span {
    width: 40px;
    height: 1px;
    background-color: #00000091;
}
.arrival-prd button {
    background-color: #a52423;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    border: 1px solid transparent;
    &:hover {
        background-color: transparent;
        border-color: #a52423;
        color: #a52423;
    }
}

@media screen and (max-width: 750px) {
    .hero .jewel {
        font-size: 10rem;
    }
    .collections {
        padding: 80px 20px 30px 20px;
    }
    .collection-box {
        display: flex;
        overflow-y: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .collection-card {
        padding: 15px;
    }
    .collection-box .bracelets, .collection-box .rings {
        min-width: 350px;
    }
    .collection-box .earings {
        min-width: 100%;
    }
    .about-box, .arrivals-box {
        padding: 20px;
    }
    .info {
        flex-direction: column;
    }
    .about-img {
        height: 500px;
        width: 100%;
    }
    .stats {
        flex-direction: row;
        align-items: flex-start;
        padding-bottom: 0;
    }
    .stats ul:nth-child(1) h3 {
        margin-top: 0;
    }
    
}

@media screen and (max-width: 550px) {
    .hero {
        padding: 20px 15px;
    }
    .hero .jewel {
        font-size: 8rem;
    }
    .hero br {
        display: none;
    }
    .hero-top, .hero-foot {
        flex-direction: column;
    }
    .hero-offer {
        width: 100%;
        align-self: flex-end;
    }
    .hero-offer img {
        margin-top: -80px;
    }
    .hero-offer h2 {
        font-size: 17px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .hero-offer button {
        padding: 7px;
        font-size: 13px;
    }
    .hero-vid {
        align-self: flex-start;
        width: 70%;
    }
    .collections {
        padding: 60px 15px 20px 15px;
    }
    .big-text {
        font-size: 2.8em;
    }
    .btn-control li {
        font-size: 14px;
        padding: 6px;
    }
    .collection-box {
        gap: 10px;
    }
    .collection-box .bracelets, .collection-box .rings, .collection-box .earings {
        min-width: 95%;
    }
    .about-box {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 0;
        padding: 20px 15px;
    }
    .about p {
        width: 100%;
    }
    /* .info {
        flex-direction: row;
        gap: 10px;
    }
    .stats {
        flex-direction: column;
    } */
    .stats ul h3 {
        font-size: clamp(40px, 6vw, 75px);
    }
    .arrivals-box {
        padding: 20px 15px;
    }
    .arrival-head p{
        text-align: right;
    }
    .arrival-head br {
        display: none;
    }
    .arrivals .locket, .arrivals .golden {
        min-width: 280px;
    }
    .arrivals .necklace {
        min-width: 250px;
        height: 350px;
    }
    .arrivals .pendant {
        min-width: 250px;
        height: 450px;
    }
}

@media screen and (max-width: 400px) {
    .hero .jewel {
        font-size: 6rem;
        margin-top: 50px;
        margin-bottom: 5px;
    }
    .collection-head {
        flex-direction: column;
        gap: 10px;
        align-items: normal;
    }
    .collection-head .btn-control {
        align-self: flex-end;
    }
}