@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Italianno&family=Quintessential&family=Tangerine:wght@400;700&display=swap');

:root {
    --fancy-font: "Cormorant Garamond", sans-serif;
}
.no-scroll{
    overflow: hidden;
    height: 100vh;
    background-color: inherit;
}
a {
    color: inherit;
    transition: all .3s ease-in-out;
}

.navigation {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    position: fixed;
    background-color: #18181b2c;
    backdrop-filter: blur(10px);
    z-index: 999;
    border-bottom: 1px solid #fff;
}
.navigation.show {
    backdrop-filter: none;
}
.logo {
    width: 100%;
    font-family: var(--fancy-font);
    text-align: center;
    font-size: 30px;
    line-height: 100%;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: 8px 10px;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    z-index: 1001;
}
.navigation ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}
.navigation .nav {
    gap: 20px;
    z-index: 1001;
}
.toggle {
    width: 8%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.mobile {
    display: none;
}
.toggle:hover span {
    background-color: #fff;
}
.toggle span {
    width: 100%;
    background-color: #ffffffb8;
    transition: all .3s ease-in-out;
    height: 2px;
}
.toggle .uno {
    width: 75%;
}
.nav li, .hamburger li {
    font-weight: 300;
    color: #ffffffd5;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease-in-out;
}
.nav li:hover, .hamburger li:hover, .nav li:nth-child(1), .hamburger li:nth-child(1) {
    font-weight: 500;
    color: #fff;
}

.extras {
    justify-content: flex-end;
    z-index: 1001;
}
.extras button {
    background-color: #333;
    color: inherit;
    font-family: inherit;
    border: 1px solid transparent;
    padding: 7px 15px;
    font-size: 11px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: transparent;
        border-color: #fff;
    }
}
.extras li {
    border: 1px solid #ffffffb8;
    border-radius: 100%;
    display: flex;
    font-size: 16px;
    padding: 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #fff;
        color: #000;
    }
}

.hamburger {
        position: fixed;
        background-color: #18181ba1;
        backdrop-filter: blur(10px);
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        text-transform: uppercase;
        list-style-type: none;
        opacity: 0;
        visibility: visible;
        transition: all .2s ease-in-out;
        pointer-events: none;
        isolation: isolate;
}
.hamburger.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.hamburger li {
    font-size: 20px;
}
.hamburger li {
    border: none;
}
@media screen and (max-width: 750px) {
    .nav li, .extras button {
        display: none;
    }
    .hamburger.show ~ .logo {
        border: none;
    }
    .hamburger button {
        display: block;
        font-size: 17px;
        padding: 15px 30px;
    }
    .nav .mobile {
        display: flex;
        width: 40px;
    }
    .logo {
        padding: 15px 10px;
        font-size: 25px;
    }
    .extras li {
        font-size: 18px;
        padding: 7px;
    }
}

@media screen and (min-width: 751px) {
    .hamburger.show {
        display: none;
    }
}