@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-color: #1a1a1a;
    --blue-color: #00418a;
    --green-color: #e4f52c;
    --red-color: #e33932;
    --purple-color: #a045ed;
}
.no-scroll{
    overflow: hidden;
    height: 100vh;
}
a {
    color: inherit;
    transition: all .3s ease-in-out;
}
body.menu-open {
    overflow: hidden;
    height: 100vh;
}

.navigation {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid #fff;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
}